# Variance in Weather
You’re planning a trip to London and want to get a sense of the best time of the year to visit. Luckily, you got your hands on a dataset from 2015 that contains over 39,000 data points about weather conditions in London. Surely, with this much information, you can discover something useful about when to make your trip!

In this project, the data is stored in a Pandas DataFrame. If you’ve never used a DataFrame before, we’ll walk you through how to filter and manipulate this data. If you want to learn more about Pandas, check out our [Data Science Path](https://www.codecademy.com/learn/paths/data-science).

## Explore the Data
1. All of the weather data is stored in a variable named `london_data`.

    Print the first few rows of the dataset by calling `print(london_data.head())`.

    Take a look at the browser to see the columns of this dataset. Here are two questions to ask yourself:

    - How often were measurements taken?
    - Which columns might be the most useful when thinking about planning a trip.

    If you want to see different rows of the data, you can try something like this:

    ```py
    print(london_data.iloc[100:200])
    ```

    This will print rows 100 through 199.

    Comment out these print statements after looking through the results.


#### Hint
By looking at the `"Time"` column, you can see that a data sample is taken three or four times every hour.

The `"TemperatureC"` column might be a good place to start when thinking about planning a trip to London.

In [1]:
import seaborn
import pandas as pd
import numpy as np

# load csv file
london_data = pd.read_csv('weather_london.csv')

# Explore the Data
# take a look at london_data dataset
print(london_data.head())
print(london_data.iloc[100:200])

# data points size
print(london_data.shape)

                  Time  TemperatureC  DewpointC  PressurehPa WindDirection  \
0  2015-01-01 00:00:00           4.6        2.9       1031.7          West
1  2015-01-01 00:12:00           4.5        2.8       1031.4           WNW
2  2015-01-01 00:27:00           4.5        2.8       1031.0            SW
3  2015-01-01 00:42:00           4.8        3.2       1031.7          West
4  2015-01-01 00:57:00           5.2        3.5       1031.4            NW

   WindDirectionDegrees  WindSpeedKMH  WindSpeedGustKMH  Humidity  \
0                   273           0.0               1.6        89
1                   291           0.0               1.6        89
2                   229           0.0               1.6        89
3                   281           0.0               4.8        89
4                   309           0.0               1.6        89

   HourlyPrecipMM Conditions Clouds  dailyrainMM         SoftwareType  \
0             0.0        nan    nan          0.0   WeatherCatV1.24B11
1             0.0        nan    nan          0.0   WeatherCatV1.24B11
2             0.0        nan    nan          0.0   WeatherCatV1.24B11
3             0.0        nan    nan          0.0   WeatherCatV1.24B11
4             0.0        nan    nan          0.0   WeatherCatV1.24B11

                DateUTC      station  hour  month
0   2015-01-01 00:00:00   ILONDONL28     0      1
1   2015-01-01 00:12:00   ILONDONL28     0      1
2   2015-01-01 00:27:00   ILONDONL28     0      1
3   2015-01-01 00:42:00   ILONDONL28     0      1
4   2015-01-01 00:57:00   ILONDONL28     0      1
                    Time  TemperatureC  DewpointC  PressurehPa WindDirection  \
100  2015-01-02 00:54:00          12.5       11.2       1018.5           WNW
101  2015-01-02 01:09:00          12.3       11.2       1018.5           ENE
102  2015-01-02 01:24:00          12.2       11.2       1018.2          East
103  2015-01-02 01:39:00          12.1       11.3       1018.5           NNE
104  2015-01-02 01:54:00          12.2       11.4       1018.5            NW
..                   ...           ...        ...          ...           ...
195  2015-01-03 00:57:00           5.2        1.8       1031.0         North
196  2015-01-03 01:12:00           5.2        1.7       1030.0           SSW
197  2015-01-03 01:27:00           5.2        1.7       1030.0           WSW
198  2015-01-03 01:42:00           5.2        1.9       1029.3         South
199  2015-01-03 01:57:00           5.3        1.8       1029.0           WSW

     WindDirectionDegrees  WindSpeedKMH  WindSpeedGustKMH  Humidity  \
100                   290           3.2               9.7        92
101                    57           4.8               9.7        93
102                    96           1.6               4.8        94
103                    25           4.8               6.4        95
104                   309           1.6               4.8        95
..                    ...           ...               ...       ...
195                     8           0.0               1.6        79
196                   213           0.0               1.6        78
197                   245           0.0               1.6        78
198                   183           0.0               0.0        79
199                   249           0.0               3.2        78

     HourlyPrecipMM Conditions Clouds  dailyrainMM         SoftwareType  \
100             0.0        nan    nan          0.0   WeatherCatV1.24B11
101             0.0        nan    nan          0.0   WeatherCatV1.24B11
102             0.0        nan    nan          0.0   WeatherCatV1.24B11
103             0.0        nan    nan          0.3   WeatherCatV1.24B11
104             0.0        nan    nan          0.3   WeatherCatV1.24B11
..              ...        ...    ...          ...                  ...
195             0.0        nan    nan          0.0   WeatherCatV1.24B11
196             0.0        nan    nan          0.0   WeatherCatV1.24B11
197             0.0        nan    nan          0.0   WeatherCatV1.24B11
198             0.0        nan    nan          0.0   WeatherCatV1.24B11
199             0.0        nan    nan          0.0   WeatherCatV1.24B11

                  DateUTC      station  hour  month
100   2015-01-02 00:54:00   ILONDONL28     0      1
101   2015-01-02 01:09:00   ILONDONL28     1      1
102   2015-01-02 01:24:00   ILONDONL28     1      1
103   2015-01-02 01:39:00   ILONDONL28     1      1
104   2015-01-02 01:54:00   ILONDONL28     1      1
..                    ...          ...   ...    ...
195   2015-01-03 00:57:00   ILONDONL28     0      1
196   2015-01-03 01:12:00   ILONDONL28     1      1
197   2015-01-03 01:27:00   ILONDONL28     1      1
198   2015-01-03 01:42:00   ILONDONL28     1      1
199   2015-01-03 01:57:00   ILONDONL28     1      1

[100 rows x 18 columns]
(39106, 18)

2. Let’s also take a look at how many data points we have. Print `len(london_data)`

In [2]:
print(len(london_data))

39106

## Looking At Temperature
3. Now that we’ve seen what the data looks like, let’s dive into one of the more promising columns — `"TemperatureC"`. This column stores the temperature in Celsius.

    To get a single column from a DataFrame, you can use this syntax:

    one_column = london_data["column_name"]

    Create a variable named `temp` and set it equal to the `"TemperatureC"` column of `london_data`.

In [3]:
# Looking At Temperature
temp = london_data['TemperatureC']
# print(temp.min(), temp.max())
print(np.min(temp), np.max(temp))

-3.8 35.8

4. We can now calculate descriptive statistics about this column. To begin, find the average temperature in London in 2015. Store it in a variable named `average_temp`.

In [4]:
# average temperatures
avg_temp = np.mean(temp)
print(avg_temp)  # avg temp is 12.08 C

12.081969518743925

5. Calculate the variance of the temperature column and store the results in the variable `temperature_var`. Print the results.

In [5]:
# variance of temp
temp_var = np.var(temp)
print(temp_var)  # variance is 29.72

29.715642528199353

6. Calculate the standard deviation of the temperature column and store a variable named `temperature_standard_deviation`. Print this variable.

    How would the variance and standard deviation help you plan a trip?

In [6]:
# standard deviation of temp
temp_std_dev = np.std(temp)
print(temp_std_dev)  # std dev is 5.45

5.4512056031853495

## Filtering By Month
7. The statistics we just calculated aren’t very helpful when trying to plan a vacation since they describe the weather throughout an entire year.

    If we could find a way to use the rows from only a certain month, that might help us find the best month to plan our trip.

    Once again, print `london_data.head()` to see the first few columns of our DataFrame. Which column will help us get only the data points from January? In the browser you can scroll to the right to see more columns.


#### Hint
Take a look at the `"month"` column. The first few rows contain `1`s, meaning those data points came from January.

If you look at `london_data.tail()` you’ll see the data points at the end of the dataset all have `12`s, meaning those data points came from December.

In [7]:
# Filter by month
print(london_data.month.head())
print(london_data.month.tail())

0    1
1    1
2    1
3    1
4    1
Name: month, dtype: int64
39101    12
39102    12
39103    12
39104    12
39105    12
Name: month, dtype: int64

8. We want to filter by the `"month"` column! The following line of code will create a variable that gets the temperature from the rows where `"month"` is `6`. These will be all of the rows from the month of June.

    ```py
    june = london_data.loc[london_data["month"] == 6]["TemperatureC"]
    ```
    Create this variable for June.

In [8]:
# june temp
june = london_data.loc[london_data["month"] == 6]["TemperatureC"]
print(june)

17469     8.9
17470     8.8
17471     8.6
17472     8.2
17473     8.0
         ...
20655    20.2
20656    20.0
20657    19.9
20658    19.9
20659    19.8
Name: TemperatureC, Length: 3191, dtype: float64

9. Create a variable named `july` that contains all of the data points from July. The code to do this should look very similar to your code that created the June variable. This time, we’re interested in month `7`.

In [9]:
# july temp
july = london_data.loc[london_data["month"] == 7]["TemperatureC"]
print(july)

20660    19.9
20661    19.9
20662    20.0
20663    20.1
20664    20.0
         ...
23529    13.8
23530    13.7
23531    13.3
23532    12.8
23533    12.4
Name: TemperatureC, Length: 2874, dtype: float64

10. Calculate and print the mean temperature in London for both June and July using the `np.mean() `function.

    What do these numbers tell you? If you wanted to visit London on the month that was, on average, cooler, which month would you pick? Look at the hint to see our thoughts!

In [10]:
# avg temp for june and july
print(np.mean(june))  # june avg temp: 17.05
print(np.mean(july))  # july avg temp: 18.78

17.04728925101849
18.775608907446067

11. Calculate and print the standard deviation of temperature in London for both June and July. Remember, the function you should use is `np.std()`.

    What do these numbers tell you? How might the standard deviation change your decision on when to visit London? Click on the hint to see our thoughts.

In [11]:
# std dev june and july
print(np.std(june))  # std dev june: 4.60
print(np.std(july))  # std dev july: 4.14

4.597909204651791
4.136377318662126

12. If you want to quickly see the mean and standard deviation of every month, use this block of code.

  ```py
  for i in range(1, 13):
    month = london_data.loc[london_data["month"] == i]["TemperatureC"]
    print("The mean temperature in month "+str(i) +" is "+ str(np.mean(month)))
    print("The standard deviation of temperature in month "+str(i) +" is "+ str(np.std(month)) +"\n")
  ```

  During which month would you most like to visit? If you wanted to pick the month with the least variable temperature, which one would you pick?


#### Hint
To us, September (month `9`) looks like a nice month to visit. The temperatures aren’t too high on average, and there isn’t a lot of variability.

The month with the lowest variability is December (month `12`) with a standard deviation of `2.35`. This means that even though the average is a cold `11.2` degrees Celsius, it rarely gets more than 4 or 5 degrees away from that average.

In [12]:
# month average temp and std deviation
for i in range(1, 13):
    month = london_data.loc[london_data["month"] == i]["TemperatureC"]
    print("The mean temperature in month " + str(i) + " is " + str(np.mean(month)))
    print("The standard deviation of temperature in month " + str(i) + " is " + str(np.std(month)) + "\n")

The mean temperature in month 1 is 5.663950927964769
The standard deviation of temperature in month 1 is 3.5630186427365724

The mean temperature in month 2 is 5.089492367767128
The standard deviation of temperature in month 2 is 2.6533914088938397

The mean temperature in month 3 is 7.935419026047565
The standard deviation of temperature in month 3 is 2.7389280396346902

The mean temperature in month 4 is 10.553368744758178
The standard deviation of temperature in month 4 is 4.081741047920952

The mean temperature in month 5 is 13.597456461961503
The standard deviation of temperature in month 5 is 3.521941235413068

The mean temperature in month 6 is 17.04728925101849
The standard deviation of temperature in month 6 is 4.597909204651791

The mean temperature in month 7 is 18.775608907446067
The standard deviation of temperature in month 7 is 4.136377318662126

The mean temperature in month 8 is 18.002258355916894
The standard deviation of temperature in month 8 is 3.468858883252718

The mean temperature in month 9 is 13.847472456254051
The standard deviation of temperature in month 9 is 3.017009206358238

The mean temperature in month 10 is 11.982796352583588
The standard deviation of temperature in month 10 is 3.110285235678797

The mean temperature in month 11 is 10.765084279325764
The standard deviation of temperature in month 11 is 3.7264534709363044

The mean temperature in month 12 is 11.261051212938007
The standard deviation of temperature in month 12 is 2.35355136256788

## Explore on Your Own
13. By looking at the mean and standard deviation of the temperature in London during each month of the year, we can get a sense of the best time to visit.

    Looking at the spread of the data is an important statistic to consider if you are particularly sensitive to extreme days. For example, if you pick a month with a large standard deviation, you might have one day that is relatively cold while the following day is very hot.

    Take some time to see if you can find more insights in this dataset. Here are some ideas we have for you:

    - Look at columns other than `"TemperatureC"`. Can you find something interesting about the humidity or the air pressure? Can you find the rainiest month? London is notoriously rainy!
    - Filter based on `"hour"`. Similar to how you filtered based on the month, are there certain hours that have higher variance than others?

In [13]:
# # Explore Your Own
# hourly average precipitation
for i in range(0, 24):
    hour = london_data.loc[london_data["hour"] == i]["dailyrainMM"]
    print("The mean precipitation in hour "+str(i) + " is " + str(np.mean(hour)))

# avg rain by hour
avg_rain_hour = london_data.groupby(['hour'])['dailyrainMM'].mean()
print(avg_rain_hour)


# avg temp by month using groupby
avg_temp_month = london_data.groupby(['month'])['TemperatureC'].mean().round(2)
print("Avg Temp by Month:", avg_temp_month.T)

# standard deviation of temp by month using groupby
std_temp_month = london_data.groupby(['month'])['TemperatureC'].apply(np.std).round(2)
print("Standard Deviation Temp by Month:", std_temp_month.T)

# Combine avg_temp_month and std_temp_month into a single DataFrame
combined_df = pd.concat([avg_temp_month, std_temp_month], axis=1)
combined_df.columns = ['Avg Temperature (C)', 'Standard Deviation']

print(combined_df.T)

# avg wind speed (kmh) by month
avg_windspkmh_month = london_data.groupby(['month'])['WindSpeedKMH'].mean()
# avg humidity by month
avg_humidity_month = london_data.groupby(['month'])['Humidity'].mean()
# avg daily rain by month
avg_dailyrain_month = london_data.groupby(['month'])['dailyrainMM'].mean()

combined_df['Wind Speed (KMH)'] = avg_windspkmh_month.round(2)
combined_df['Humidity'] = avg_humidity_month.round(2)
combined_df['Daily Rain (MM)'] = avg_dailyrain_month.round(2)

print(combined_df.T)

The mean precipitation in hour 0 is 0.025401730531520398
The mean precipitation in hour 1 is 0.058186244674376136
The mean precipitation in hour 2 is 0.0852439024390244
The mean precipitation in hour 3 is 0.125
The mean precipitation in hour 4 is 0.16833740831295843
The mean precipitation in hour 5 is 0.2240684178375076
The mean precipitation in hour 6 is 0.28304562268803946
The mean precipitation in hour 7 is 0.3366402921485088
The mean precipitation in hour 8 is 0.42326580724370777
The mean precipitation in hour 9 is 0.47336139506915215
The mean precipitation in hour 10 is 0.5746804625684724
The mean precipitation in hour 11 is 0.6056558363417569
The mean precipitation in hour 12 is 0.6881539386650632
The mean precipitation in hour 13 is 0.7495747266099635
The mean precipitation in hour 14 is 0.8311814859926919
The mean precipitation in hour 15 is 0.9056755089450957
The mean precipitation in hour 16 is 1.0322942643391522
The mean precipitation in hour 17 is 1.1031269543464666
The mean precipitation in hour 18 is 1.1307120743034056
The mean precipitation in hour 19 is 1.1939617991374
The mean precipitation in hour 20 is 1.2420496894409938
The mean precipitation in hour 21 is 1.2762382445141065
The mean precipitation in hour 22 is 1.322361809045226
The mean precipitation in hour 23 is 0.4874074074074075
hour
0     0.025402
1     0.058186
2     0.085244
3     0.125000
4     0.168337
5     0.224068
6     0.283046
7     0.336640
8     0.423266
9     0.473361
10    0.574680
11    0.605656
12    0.688154
13    0.749575
14    0.831181
15    0.905676
16    1.032294
17    1.103127
18    1.130712
19    1.193962
20    1.242050
21    1.276238
22    1.322362
23    0.487407
Name: dailyrainMM, dtype: float64
Avg Temp by Month: month
1      5.66
2      5.09
3      7.94
4     10.55
5     13.60
6     17.05
7     18.78
8     18.00
9     13.85
10    11.98
11    10.77
12    11.26
Name: TemperatureC, dtype: float64
Standard Deviation Temp by Month: month
1     3.56
2     2.65
3     2.74
4     4.08
5     3.52
6     4.60
7     4.14
8     3.47
9     3.02
10    3.11
11    3.73
12    2.35
Name: TemperatureC, dtype: float64
month                  1     2     3      4      5      6      7      8   \
Avg Temperature (C)  5.66  5.09  7.94  10.55  13.60  17.05  18.78  18.00
Standard Deviation   3.56  2.65  2.74   4.08   3.52   4.60   4.14   3.47

month                   9      10     11     12
Avg Temperature (C)  13.85  11.98  10.77  11.26
Standard Deviation    3.02   3.11   3.73   2.35
month                   1      2      3      4      5      6      7      8   \
Avg Temperature (C)   5.66   5.09   7.94  10.55  13.60  17.05  18.78  18.00
Standard Deviation    3.56   2.65   2.74   4.08   3.52   4.60   4.14   3.47
Wind Speed (KMH)      1.20   0.90   1.46   1.29   0.99   0.88   0.61   0.24
Humidity             83.35  82.58  73.09  70.25  66.75  65.55  67.96  76.03
Daily Rain (MM)       0.77   0.04   0.24   0.34   0.40   0.29   0.76   1.24

month                   9      10     11     12
Avg Temperature (C)  13.85  11.98  10.77  11.26
Standard Deviation    3.02   3.11   3.73   2.35
Wind Speed (KMH)      0.18   0.13   0.70   0.74
Humidity             79.83  86.31  86.80  84.92
Daily Rain (MM)       1.14   0.57   1.26   0.74

In [35]:
# Pivot Table Temperatures by Month-Hour
# avg temp by month hours
avg_temp_month_hour = london_data.groupby(['month', 'hour'])['TemperatureC'].mean().round(2)
# Reset index to convert the multi-index into columns
avg_temp_month_hour = avg_temp_month_hour.reset_index()
# Pivot the DataFrame to display rows by month and columns by hour
pivot_temp = avg_temp_month_hour.pivot(index='month', columns='hour', values='TemperatureC')
# print(pivot_temp.T)
# Rename index to display month names (assuming you have a mapping of month numbers to their abbreviated names)
month_names = {1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUN', 7: 'JUL', 8: 'AUG', 9: 'SEP', 10: 'OCT',
               11: 'NOV', 12: 'DEC'}
pivot_temp = pivot_temp.rename(index=month_names)
# Add a row for the total of each column
pivot_temp.loc['Tot_Avg_Hour'] = pivot_temp.mean(axis=0).round(2)
# Calculate the total average for each hour
mean_row = pivot_temp.loc['Tot_Avg_Hour']
percent_row = (mean_row / mean_row.sum())
# Calculate the total average for each month
pivot_temp['Tot_Avg_Month'] = pivot_temp.mean(axis=1).round(2)

# max value by column total
print('Max hour value observed:', pivot_temp.loc['Tot_Avg_Hour'].idxmax())  # hour 14 have the highest temparature rate

pivot_temp.T

Max value observed by Hours 14

month,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Tot_Avg_Hour
hour,,,,,,,,,,,,,
0,5.09,3.94,6.76,7.75,11.05,13.54,16.14,15.57,11.95,10.94,10.05,10.87,10.30
1,5.06,3.90,6.55,7.52,10.41,12.97,15.45,15.21,11.59,10.87,9.87,10.66,10.01
2,4.95,3.63,6.30,7.11,10.00,12.59,14.95,14.96,11.36,10.58,9.69,10.64,9.73
3,5.00,3.52,5.99,6.81,9.78,12.28,14.70,14.78,11.07,10.45,9.75,10.63,9.56
4,4.92,3.52,5.67,6.56,9.70,12.07,14.64,14.72,10.93,10.25,9.61,10.60,9.43
5,4.92,3.53,5.53,6.39,10.14,12.84,15.19,14.79,10.93,10.22,9.61,10.60,9.56
6,4.98,3.43,5.39,6.95,11.30,14.79,16.73,15.67,11.16,9.92,9.62,10.64,10.05
7,4.96,3.59,5.75,8.46,12.64,16.35,18.13,16.96,12.21,10.12,9.64,10.65,10.79
8,4.85,4.15,6.74,10.07,13.87,17.25,18.88,18.20,13.62,10.96,9.98,10.70,11.61
9,5.29,5.08,7.64,11.42,14.73,18.44,19.82,19.51,14.92,12.05,10.69,11.14,12.56
10,6.17,5.77,8.66,12.46,15.51,19.38,20.69,20.16,15.98,12.87,11.38,11.78,13.40
11,6.33,6.31,9.51,13.48,16.06,19.98,21.40,20.91,16.68,13.48,11.91,12.19,14.02
12,6.86,6.82,10.05,14.34,16.73,20.75,21.82,21.32,17.39,14.21,12.12,12.46,14.57
13,7.21,7.16,10.58,14.82,17.15,21.31,22.61,21.26,17.68,14.65,12.38,12.58,14.95
14,7.20,7.37,10.56,15.04,17.48,21.95,22.89,21.29,17.58,14.44,12.30,12.43,15.04
15,6.81,7.10,10.27,14.78,17.40,21.98,23.08,21.31,17.03,13.84,12.06,12.08,14.81
16,6.44,6.69,10.07,14.47,17.00,21.84,22.55,21.08,16.54,13.86,11.76,11.77,14.51
17,6.15,6.02,9.78,13.59,16.50,21.05,21.79,20.59,15.65,13.38,11.70,11.47,13.97
18,5.91,5.55,8.83,12.47,15.26,19.71,20.51,19.18,14.62,12.57,11.16,11.28,13.09
19,5.66,5.16,8.07,11.50,14.22,18.45,19.44,18.12,13.85,12.14,11.02,11.19,12.40
20,5.35,4.91,7.76,10.59,13.37,17.39,18.49,17.22,13.43,11.82,10.97,11.00,11.86
21,5.32,4.91,7.45,9.58,12.65,16.14,17.64,16.68,12.94,11.61,10.59,11.10,11.38
22,5.23,4.80,7.06,8.82,12.15,15.19,17.01,16.33,12.51,11.43,10.52,10.90,11.00
23,5.16,4.35,6.78,8.19,11.60,14.45,16.39,16.01,12.11,11.10,10.40,10.92,10.62
Tot_Avg_Month,5.66,5.05,7.82,10.55,13.61,17.20,18.79,17.99,13.91,11.99,10.78,11.26,12.05

In [ ]:
print(pivot_temp.loc['Tot_Avg_Hour'].idxmax())  # hour 14 have the highest temparature rate

In [39]:
# Pivot Table Precipitation (MM) by Month-Hour
# avg temp by month hours
avg_rain_month_hour = london_data.groupby(['month', 'hour'])['dailyrainMM'].mean().round(2)
# Reset index to convert the multi-index into columns
avg_rain_month_hour = avg_rain_month_hour.reset_index()
# Pivot the DataFrame to display rows by month and columns by hour
pivot_rain = avg_rain_month_hour.pivot(index='month', columns='hour', values='dailyrainMM')
# print(pivot_rain.T)
# Rename index to display month names (assuming you have a mapping of month numbers to their abbreviated names)
month_names = {1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUN', 7: 'JUL', 8: 'AUG', 9: 'SEP', 10: 'OCT',
               11: 'NOV', 12: 'DEC'}
pivot_rain = pivot_rain.rename(index=month_names)
# Add a row for the total average of each hour
pivot_rain.loc['Tot_Avg_Hour'] = pivot_rain.mean(axis=0).round(2)
# Add a column for the total average of each month
pivot_rain['Tot_Avg_Month'] = pivot_rain.mean(axis=1).round(2)

# max value by column total
print('Max hour value observed:', pivot_rain.loc['Tot_Avg_Hour'].idxmax())  # hour 22 have the highest rain rate

pivot_rain.T

Max hour value observed: 22

month,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Tot_Avg_Hour
hour,,,,,,,,,,,,,
0,0.00,0.00,0.00,0.02,0.08,0.01,0.03,0.02,0.02,0.00,0.02,0.09,0.02
1,0.01,0.04,0.01,0.04,0.09,0.02,0.14,0.03,0.07,0.00,0.03,0.22,0.06
2,0.04,0.05,0.01,0.13,0.10,0.04,0.17,0.06,0.10,0.01,0.07,0.28,0.09
3,0.10,0.05,0.02,0.20,0.13,0.11,0.18,0.09,0.17,0.00,0.14,0.33,0.13
4,0.15,0.05,0.03,0.22,0.15,0.22,0.16,0.10,0.32,0.04,0.20,0.38,0.17
5,0.26,0.05,0.08,0.21,0.22,0.26,0.21,0.12,0.48,0.10,0.31,0.40,0.22
6,0.37,0.05,0.13,0.19,0.23,0.27,0.25,0.19,0.59,0.23,0.53,0.45,0.29
7,0.47,0.04,0.20,0.22,0.23,0.30,0.30,0.24,0.65,0.37,0.60,0.48,0.34
8,0.63,0.04,0.23,0.31,0.25,0.31,0.37,0.33,0.78,0.49,0.89,0.51,0.43
9,0.75,0.04,0.22,0.35,0.23,0.32,0.46,0.61,0.90,0.44,1.04,0.52,0.49
10,0.83,0.04,0.20,0.41,0.33,0.34,0.63,0.90,1.04,0.64,1.13,0.54,0.59
11,0.94,0.04,0.19,0.42,0.31,0.33,0.53,1.02,1.08,0.72,1.27,0.61,0.62
12,1.03,0.04,0.22,0.39,0.41,0.37,0.81,1.39,1.19,0.64,1.40,0.68,0.71
13,1.15,0.04,0.24,0.36,0.50,0.38,0.82,1.53,1.27,0.74,1.59,0.74,0.78
14,1.16,0.04,0.28,0.38,0.58,0.38,0.98,1.82,1.44,0.79,1.71,0.75,0.86
15,1.17,0.04,0.34,0.38,0.62,0.38,1.07,2.14,1.56,0.78,1.84,0.82,0.93
16,1.16,0.04,0.35,0.56,0.70,0.38,1.53,2.30,1.91,0.86,2.02,0.92,1.06
17,1.15,0.04,0.34,0.59,0.74,0.44,1.61,2.19,2.51,1.01,2.13,0.99,1.14
18,1.17,0.04,0.39,0.58,0.70,0.44,1.54,2.46,2.57,1.01,2.02,1.03,1.16
19,1.26,0.04,0.45,0.56,0.69,0.43,1.64,2.92,2.56,1.06,2.07,1.08,1.23
20,1.26,0.05,0.48,0.53,0.68,0.43,1.66,3.06,2.35,1.10,2.36,1.20,1.26
21,1.25,0.01,0.54,0.59,0.79,0.46,1.72,3.26,2.16,1.04,2.26,1.47,1.30
22,1.21,0.00,0.54,0.62,0.84,0.47,1.64,3.36,2.25,1.19,2.32,1.64,1.34
23,1.20,0.05,0.28,0.01,0.04,0.00,0.03,0.01,0.01,0.49,2.39,1.71,0.52
Tot_Avg_Month,0.78,0.04,0.24,0.34,0.40,0.30,0.77,1.26,1.17,0.57,1.26,0.74,0.66